AuthType Basic
AuthName "Restricted Access - Snazzy Paws Staff Roster Only"
AuthBasicProvider file
AuthUserFile "https://github.com/mmoarty/SnazzyPawsGrooming/blob/main/.htpasswd"

<Files "roster.html">
    Require valid-user
</Files>
